@import url('@/uni.less');
.container{
		padding: 20rpx;
		font-size: 24rpx;
		background-color: cyan;
	 .desc{
	   color: red;
	    font-size:40rpx;
	}
	
	.coloras{
		color:red;
		font-size: 20prx;
		font-family:serif;
	}
	.test{
		font-size: 40rpx;
		color: @uni-color-primary;
	}
}